{% extends "../html/templates/baseinner.njk" %}
{% import "../html/macros/insert.njk" as insert %}
{% set items = blogs %}



{% block documentTitle %}seccion 1{% endblock %}


{% block content %}





{% call insert.title( items[0].id ,items[0].name ,items[0].photo,items[0].descriptiontitle ,items[0].description,items[0].link ) %} {%   endcall %},




{% include "../html/partials/_banner.njk" %}
{% endblock %}
