{% extends "../html/templates/baseinner.njk" %}
{% import "../html/macros/insert.njk" as insert %}
{% set items = blogs %}


{% block documentTitle %}seccion 1{% endblock %}


{% block content %}





{% call insert.title( items[2].id ,items[2].name ,items[2].photo,items[2].descriptiontitle ,items[2].description,items[2].link ) %} {%   endcall %},




{% include "../html/partials/_banner.njk" %}
{% endblock %}
