<footer>
      <section>
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="height-sm align-middle"> 
                            <div class="is-flex content-sp-between w-100">
                              <div class="">   
                              Tapicería Marfil
Arcadio Balaguer 77
08860 castelldefels 
    </div>
                              <div class="menu">

                                      <ul class="list-inline">
                                        <li>   <a href="">

     <img width="100px"  src="/static/logo.png" alt="">    </a>    </li>
             
                                      </ul>
                                      

                              </div>
                            </div>
                      </div>
            
                  </div>



                  <div class="col-xs-12">

                    Teléfono: 936656502
                    Fax:936654451
                    Correo electrónico: tapiceriamarfil@gmail.com

                  </div>
              </div>
          </div>
      </section>
</footer>
