<footer>




  <section class="mb-24 xs:text-center ">
    <div class="container pt-32">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 mb-24">

   <img width="200px" src="static/logo.png" alt="">
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3  mb-24">
          <div class="h7">DIRECCIÓN:</div>
          <br>
          <p class="p2 mb-24">
            
            
            
            Tapicería Marfil  <br>
Arcadio Balaguer 77   <br>
08860 castelldefels   <br>
            
            

            
            
            </p>
          <ul class="list-inline">
            <li class="h7">Siguenos</li>

          </ul>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3  mb-24">
          <div class="h7">HORARIO:</div>
          <br>
          <p class="p2"> 
            De Lunes a Viernes de 9h/14h y  16h/20h <br>  Sabados 9h/14h

          
          </p>



            Teléfono: 936656502
            Fax:936654451
            Correo electrónico: tapiceriamarfil@gmail.com

            

        </div>
        <div class="col-xs-12 col-sm-3 col-md-3  mb-24">
          <div class="h7">LINKS DE INTERÉS:</div>
          <br>
          <p class="p2">
            <a href="https://www.toldosmarfil.com/">Toldosmarfil.com </a>  <br>
            <a href="https://www.tapiceriamarfil.com/">Tapiceriamarfil.com </a>
       
          
          </p>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 mob:mb-24">

        </div>
      </div>
    </div>
  </section>



</footer>
