


<article id="{{proyecto.id}}" class="height-full align-middle border-b">
  <div class="row  ">
    <div class="col-xs-12  col-sm-2  pt-40 pb-40">

    </div>
    <div class="col-xs-12  col-sm-5  pt-40 pb-40">

   <div class="fluid-80-b numbers">
   0{{proyecto.id}}
   </div>

      <img class="rellax"  data-rellax-percentage="0.5"  data-rellax-speed="1" src="static/sistemas/{{proyecto.photo}} " alt="">
    </div>
    <div class="col-xs-12 col-sm-3  pt-64   pb-40 pl-40">

      <div class="mb-24 ">
        <div class="p3"> {{proyecto.prename}} </div>
        <div class="fluid-50-b mb-16">{{proyecto.name}}</div>
        <div class=" mb-24">
          <p class="fluid-18-r">{{proyecto.description}} </p>
        </div>

        <div class="p3 mb-24"> 
          {% if proyecto.links.twitter %} 
          <a href="{{proyecto.links.twitter}}" target="_blank" rel="noopener">twitter</a> 
            {% endif %}
             {% if proyecto.links.github %}
             <a href="{{proyecto.links.github}}" target="_blank" rel="noopener">github</a> 
             {% endif %} 
             {% if proyecto.links.website %} <a
            href="{{proyecto.links.website}}" target="_blank" rel="noopener">website</a> {% endif %} </div>
        <div>
          <a href="./pages/{{proyecto.id}}.njk"><button class="btn btn-secondary btn--medium" >Ver Sistema</button></a>
        </div>
      </div>
    </div>
  </div>
</article>

