<section    class="proyectos  pt-header-height pb-header-height" id="proyectos">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 height-md">

        <div class="fluid-80-b">Directorio</div>

      </div>
    </div>
  </div>

  <div class="container--full">

    {% for proyecto in proyectos %}
      {% if not loop.index is odd %}
        {% include "html/partials/_proyecto.njk" %}
      {% else %}
        {% include "html/partials/_proyectoa.njk" %}

      {% endif %}

    {% endfor %}

  </div>
</section>