{% set some_var1 = "Design proyectos.es " %}
{% set holygrailcssv = "1.8.65" %}
{% set primary = "#ff0000" %}
{% set items = proyectos %}

{% set colorsPrimary = [
    { name: 'c-primary', type: '#292929' ,class: '.bg-primary'},
    { name: 'c-black', type: '#000000' ,class: '.bg-black'},
    { name: 'c-dark-grey', type: '#8e8e8e',class: '.bg-dark-grey' },
    { name: 'c-middle-grey', type: '#e3e3e3' ,class: '.bg-middle-grey'},
    { name: 'c-light-grey', type: '#f0f0f0' ,class: '.bg-light-grey'},
    { name: 'c-white', type: '#ffffff' ,class: '.bg-white'}
]
%}
