<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Metas -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block documentTitle %}{% endblock %} | Subtitulo seo</title>
    <meta name="description" content="Parcel website." />
    <meta name="image" content="static/parcel-static-boilerplate.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="manuel ruiz redondo" />
    <!-- Favicons, webmanifest -->
    <link rel="apple-touch-icon" sizes="180x180" href="./static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./static/favicon-16x16.png" />
    <link rel="manifest" href="./site.webmanifest" />
    <link rel="mask-icon" href="./static/safari-pinned-tab.svg" color="#26a070" />
    <link rel="shortcut icon" href="./static/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-config" content="./static/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Design proyectos en español" />
    <meta itemprop="description" content="Design proyectos en español" />
    <meta itemprop="image" content="./static/parcel-static-boilerplate.jpg" />
    <meta name="google-site-verification" content="JauLv5K7ugKirhkGgkn8jCE-VcSjyJKITScVCJEpovE" />
    <!-- Open Graph general -->
    <meta property="og:title" content="Design proyectos en español" />
    <meta property="og:description" content="Design proyectos en español" />
    <meta property="og:image" content="./static/parcel-static-boilerplate.jpg" />
    <meta property="og:image:alt" content="Design proyectos en español logo" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="https://github.com//" />
    <meta property="og:site_name" content="Design proyectos en español" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Design proyectos en español" />
    <meta name="twitter:description" content="Design proyectos en español" />
    <meta name="twitter:site" content="@" />
    <meta name="twitter:creator" content="@" />
    <meta name="twitter:image" content="./static/parcel-static-boilerplate-twitter.jpg" />
    <meta name="twitter:image:alt" content="Design proyectos en español logo" />
    <!-- preconnect, preload, etc. -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700"
      rel="stylesheet"
    />
    <!-- Styles -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" />  
    <link rel="stylesheet" href="./scss/style.scss" />
  </head>



  <body class="contain {% block bodyClass %}{% endblock %}">
   
    {% import 'html/templates/_globals.njk' as globals %} 
    {% import "html/macros/insert.njk" as insert %}
    {% include "html/partials/_header.njk" %}


    <main class="main">{% block content %}{% endblock %}</main>





    {% include "html/partials/_footer.njk" %}
    <!-- Scripts -->


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


        <script type="module" src="./js/index.js"></script>



  </body>
</html>
