{% extends "html/templates/base.njk" %}
{% block documentTitle %}404{% endblock %}
{% import 'html/templates/_globals.njk' as globals %}
{% block content %}

<div class="is-home ">
  <div class="container-fluid bleed-0">
    <section class="header-img has-light ">
      <div class="container height-full content-center  align-center">
        <div class="row">
          <div class="col-xs-12 ">
            <div class=" content-text  ">
              <h1 class="h1">Tapiceriamarfil.com</h1>
              <h2 class="fluid-64-l">  </h2>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>
{% endblock %}