{% extends "html/templates/base.njk" %}
{% block documentTitle %}Home{% endblock %}
{% import 'html/templates/_globals.njk' as globals %} {% block content %} 

<div class="container pb-64 p-body">
  <div class="row">
    <div class="col-xs-12  col-md-6 ">
      <div class="fluid-80-b">Sobre <u>Nosotros</u> </div>
    </div>
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12  col-md-4 is-flex align-bottom ">
      <div class="fluid-18-r ">
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quia alias, distinctio, natus dolorum ad tempora, explicabo omnis enim inventore consectetur eligendi minus eos quaerat rerum? Laudantium nesciunt temporibus iure?
      </div>
    </div>
  </div>
</div>
<div class="container pt-64 pb-64">
  <div class="row">
    <div class="col-xs-12  ">
      <div class="row">
        <div class="col-xs-4 ">
          <img class="w-100 mb-24" src="https://holygrailcss.github.io/assets/placeholder/1-1.jpg" alt="">
          <div class="fluid-50-b mb-16"> Experto 1</div>
          <div class="fluid-18-r mb-16">  Experto en la creación de guías de estilo y en la definición de componentes de diseño reutilizables en código. 
            Ha trabajado en grandes empresas tecnológicas y ha desarrollado sistemas de diseño para plataformas web y móviles.
          </div>
          <div class="fluid-18-b"> Frontend  </div>
        </div> 
        <div class="col-xs-4 ">
          <img class="w-100 mb-24" src="https://holygrailcss.github.io/assets/placeholder/1-1.jpg" alt="">
          <div class="fluid-50-b mb-16"> Experto 2 </div>
          <div class="fluid-18-r mb-16">  Sergio Puertas se especializa en el diseño de experiencias de usuario y en la creación de prototipos de alta fidelidad.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias distinctio perferendis repudiandae ex fugit nulla tempora sed possimus quaerat unde iusto nam cupiditate error adipisci rem nemo rerum, animi eum?          </div>
          <div class="fluid-18-b"> Designer  </div>
        </div>
        <div class="col-xs-4 ">
          <img class="w-100 mb-24" src="https://holygrailcss.github.io/assets/placeholder/1-1.jpg" alt="">
          <div class="fluid-50-b mb-16"> Experto3  </div>
          <div class="fluid-18-r mb-16">  Experta en el diseño de interacción y en la creación de wireframes y maquetas. 
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ea veritatis, corrupti reprehenderit voluptas iusto. Quas, illum quisquam? Asperiores sunt explicabo dolores nulla hic possimus fugit quas expedita quasi est.
          </div>
          <div class="fluid-18-b"> Designer </div>
        </div>
      </div>
    </div>
  </div>
</div>
 {% include "html/partials/_banner.njk" %} {% endblock %}