{% extends "html/templates/base.njk" %} {% block documentTitle %}Home{% endblock %} 

{% import 'html/templates/_globals.njk' as globals %} {% block content %} 

  <div class="load-container">
    <div class="loading-screen"></div>
  </div>


<main  class="is-interior">
    <div class="container-color" >
        <div  class="height-full"> sdgfsdfg </div>
        <section >
            <div class="container">
                <div class="row section-x">
                    <div class="col-xs-12 col-sm-5">
                        <div class="  " >
                            <div >
                                <div class="vertical-wrap ">
                                    <div class="vertical-inner ">
                                        <h2 class="fluid-100-b  pb-50"> website</h2>
                                    </div>
                                </div>
                                <div class="vertical-wrap-2 ">
                                    <div class="vertical-inner  ">
                                        <h2 class="fluid-32-b  mb-50"> Sitios web profesionales <b>sin plantillas</b>,
                                            con precio y fecha límite fijos </h2>
                                    </div>
                                </div>
                                <div class="vertical-wrap-2 ">
                                    <div class="vertical-inner  ">
                                        <p class="fluid-24-l mb-16 "> Si tiene poco tiempo pero no desea que se instale
                                            una plantilla genérica solo para conectarse lo más rápido posible, Digital
                                            strategy es la opción perfecta para su negocio. Creamos juntos un resumen
                                            que se basa en sus requisitos y luego nos enfocamos en su proyecto mientras
                                            usted se enfoca en su negocio. El resultado es un sitio web ultrarápido que
                                            se adapta a sus objetivos, lo que le permite conectarse rápidamente y con
                                            menos estrés. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7">

                        <img width="100%" src=" ./static/sistemas/holygrail.jpg" alt="">

                    </div>
                </div>
        </section>
    </div>
</main>

{% include "html/partials/_banner.njk" %} {% endblock %}