{% extends "html/templates/base.njk" %}
{% block documentTitle %}Home{% endblock %}
{% import 'html/templates/_globals.njk' as globals %}
{% block content %}
  <!-- HAMBURGUESA -->


  <section class="bg-dark has-light mb-32 bg-cover">
    <div class="container-fluid  header-web">
      <div class="row height-full  align-center hero-title header-img">

        <h1 class="h1"> Tapicería Marfil </h1>
        <h2 class="h3"> Los especialistas del tapizado </h2>
        <div class="c-scrolldown">
          <div class="c-line"></div>
        </div>
      </div>
      <div class="bg-overlay">
      </div>
    </div>
  </section>
  <!-- LOGOS ZONE -->
  <!-- SECCION -->
  <section id="slide04" class="visible ">
    <div class="container-2 mb-32">
      <div class="row">
        <div class="col">
          <div class="we-title1 text-center fade-in">
            <h5 class="h5 mb-24">Bienvenido a Tapiceria Marfil </h5>
            <h2 class="h2">Somos artesanos de la tapiceria</h2>
            <p class="p1 mb-24">
              <br><br> En Tapiceria Marfil, podra restaurar y recuperar sus muebles tapizados.Tapizamos y restauramos
              todo tipo de muebles, sofas clasicos, sillones orejeros, sillas, butacas, cabezales de dormitorios,
              tambien restauramos la madera,bien sea barniz o lacado. <br> <br> Pongase en contacto con nosotros, para
              poder obtener un consejo y presupuesto gratuito, o bien visite nuestra tienda.
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SECCION -->
  <section id="slide05" class=" mb-64 visible">
    <div class="container ">
      <div class="row  fade-in pt-64 or-invert">
        <div class="col-xs-12 col-sm-4">
          <h3 class="h2 mini-border-left"> EL ESPACIO </h3>
          <h3 class="h4 mb-24 text-header"> DORMITORIOS CÁLIDOS </h3>
          <p class="p1"> Podemos tapizar su viejo cabecero de cama o tambien diseñar uno nuevo adaptandonos a sus ideas,
            dando a elegir al cliente las formas y materiales con los que fabricar el cabecero. </p>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-12 col-sm-6 mb-30 ">
          <div class="box-lateral">
            <div class="rat-1-1">
              <div class="rat-content bg-light">
<img class="video-cover" src="static/cama.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SECCION -->
  <section id="slide06" class="visible">
    <div class="container-2 mb-32">
      <div class="row">
        <div class="col">
          <div class="we-title1 text-center fade-in order-1">
            <h2 class="h2 mb-24 mini-border">Tapicerias Marfil </h2>
            <h2 class="p1 mb-24 "> Tapiceria Marfil empresa ubicada en castelldefels con mas de 25 años de experiencia
              en el sector del tapizado y la decoracion. Dedicada a la restauracion y rehabilitacion de sofas,
              sillones,sillas,butacas etc. En Tapiceria Marfil disponemos del personal cualificado y especializado que
              le ayudara a elegir la mejor opcion para restaurar y tapizar sus muebles ofreciendole la mas amplia gama
              de tejidos y materiales de primera calidad. Ademas en Tapiceria Marfil tambien le diseñamos construimos y
              tapizamos su cabezero de cama,para ello disponemos de una gran varieda de tejidos,simil piel o piel
              natural﻿ </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SECCION -->
  <section id="slide07" class="visible">
    <div class="container">
      <div class="row pt-64 pb-64 or-invert    ">
        <div class="col-xs-12 col-sm-6 mb-30 text-center  fade-in  order-1 box-height">
          <div class="box-device box-height ">

           <img src="static/rojas.jpg" alt="">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 mb-30 fade-in  order-2 ">
          <div class="box-mini text-center ">
            <h3 class="h6 mb-30 pb-32"> Ideas perfectas para todas las habitaciones </h3>
            <p class="p1 mb-24"> Tapizado de todo tipo de muebles. Si tiene algun sofa clasico que quiera retapizar,
              algun cabecero de cama que quiera restaurar, sillas de comedor, todo tipo de mueble para su hogar, no dude
              en visitarnos y le ayudaremos a escoger sus tejidos y colores que mejor le vayan. <br> ¿Necesita alguna
              idea? Eche un vistazo a algunas de nuestras diferentes muestras: Salón Dormitorio </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SECCION -->
  <section id="slide08" class="visible">
    <div class="container">
      <div class="row  pt-32 pb-32">
        <div class="col-xs-12 col-sm-6 mb-30  fade-in order-1 text-center">
          <div class="box-mini text-center ">
            <h3 class="h6 mb-30 pb-32"> Restauración de muebles tapizados </h3>
            <p class="p1 mb-24"> Antes de deshacerse de sus viejos muebles tapizados, piense que podemos recuperarlos y
              actualizarlos con los materiales adecuados a cada tipo o estilo de mueble. Ademas disponemos de barnizador
              y lacador que dejaran sus muebles como nuevos. </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 text-center mb-30 fade-in   order-2">
          <div class="box-device  ">
           <img src="static/colores.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SECCION -->
  <section id="slide09" class="mb-64 visible">
    <div class="bg-img1 fade-in-l">
      <!-- imagen bg
   ./assets/images/circulo.jpg    
-->
    </div>
    <div class="container-4">
      <div class="row fade-in">
        <div class="col-xs-12 text-center">
          <p> Galería fotográfica: las novedades más recientes Pueden ver como quedan sus muebles una vez tapizados.
            Puede visitarnos o bien solicitar un presupuesto sin compromiso. </p>
        </div>
      </div>
    </div>
  </section>



  <!-- SECCION -->

  <section id="slide011" class="hg-block bg-dark visible pt-32 pb-32">
    <div id="contacta" class="container-3 mb-64">
      <div class="row contactborder">
        <div class="col-xs-12  text-center">
          <div class="line-bar"></div>
          <div class="fluid-4-b pb-32"> Contacte con nosotros:</div>
          <p class="p2"> Estamos deseando escuchar sus sugerencias, <br>  comentarios, solicitudes o quejas. Ayúdenos a
            mejorar nuestro servicio. </p>
        </div>

      </div>
    </div>



    <div class="container-2 mb-64">
      <div class="row"></div>
    </div>
  </section>


  {% endblock %}
