{% extends "html/templates/base.njk" %}
{% block documentTitle %}Home{% endblock %}
{% import 'html/templates/_globals.njk' as globals %}
{% block content %}
  <div class="is-home "  >
    <div class="container-fluid bleed-0"  >

      <section class="header-img has-light"  >

        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="  height-full is-flex  flex-column content-center">
                    tapiceriamarfil.com
                <h1 class="fluid-64-l"> Agendas Completas hasta Septiembre de 2023 </h1>
              </div>
            </div>
          </div>

        </section>


      </div>
    </div>

  {% endblock %}